/* CSS for MindMapXBlock */

.mindmap_block .count {
    font-weight: bold;
}

.mindmap_block p {
    cursor: pointer;
}

#jsmind_container > .jsmind-inner {
    min-height: 700px;
    margin-top: 10px;
}
