{% load i18n %}

{% if error_message %}
    <p>{% trans "The mind map cannot be rendered due to the following error" %}: <b>{{error_message}}</b></p>
    <p>{% trans "Please contact the instructor or an administrator" %}.</p>
{% else %}
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/jsmind@latest/style/jsmind.css"/>
    <div>
        <div id="jsmind_container_{{xblock_id}}" class="jsmind_container"></div>
    </div>

    {% if editable and in_student_view %}
        <button id="save_button_{{xblock_id}}">{% trans "Save" %}</button>
    {% endif %}
{% endif %}
