<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <ul class="list-input settings-list">
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="mindmap_display_name">Display name</label>
        <input class="input setting-input" name="mindmap_display_name" id="mindmap_display_name"
          value="{{display_name}}" type="text" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="mindmap_is_static">Is a static mindmap?</label>
        <select class="input settings-input" name="mindmap_is_static" id="mindmap_is_static">
          <option value=1 {% if is_static %} selected{% endif %}>True</option>
          <option value=0 {% if not is_static %} selected{% endif %}>False</option>
        </select>
      </div>
      <span class="tip setting-help">{{ is_static_field.help }}</span>
    </li>
  </ul>

  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">Save</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">Cancel</a>
      </li>
    </ul>
  </div>
</div>
