{% load i18n %}

<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <ul class="list-input settings-list">
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="mindmap_display_name">{% trans "Display name" %}</label>
        <input class="input setting-input" name="mindmap_display_name" id="mindmap_display_name"
          value="{{display_name}}" type="text" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="mindmap_has_score">{% trans "Is scorable?" %}</label>
        <select class="input settings-input" name="mindmap_has_score" id="mindmap_has_score">
          <option value=1 {% if has_score %} selected{% endif %}>{% trans "True" %}</option>
          <option value=0 {% if not has_score %} selected{% endif %}>{% trans "False" %}</option>
        </select>
      </div>
      <span class="tip setting-help">{% trans has_score_field.help %}</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="mindmap_weight">{% trans "Weight" %}</label>
        <input class="input setting-input" name="mindmap_weight" id="mindmap_weight"
          value="{{weight}}" type="number" />
      </div>
      <span class="tip setting-help">{% trans weight_field.help %}</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="mindmap_points">{% trans "Points" %}</label>
        <input class="input setting-input" name="mindmap_points" id="mindmap_points"
          value="{{points}}" type="number" />
      </div>
      <span class="tip setting-help">{% trans points_field.help %}</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="mindmap_is_static">{% trans "Is a static mindmap?" %}</label>
        <select class="input settings-input" name="mindmap_is_static" id="mindmap_is_static">
          <option value=1 {% if is_static %} selected{% endif %}>{% trans "True" %}</option>
          <option value=0 {% if not is_static %} selected{% endif %}>{% trans "False" %}</option>
        </select>
      </div>
      <span class="tip setting-help">{% trans is_static_field.help %}</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <div class="setting-wrapper">
          <label class="label setting-label setting-label-wrapper" for="mindmap_is_static">{% trans "Mind map" %}</label>
          <span class="tip setting-help">{% trans mindmap_body_field.help %}</span>
        </div>
        <div id="jsmind_container" class="jsmind_container"></div>
      </div>
    </li>
  </ul>

  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
      </li>
    </ul>
  </div>
</div>
