{% load i18n %}

{% if editable and can_submit_assignment or not in_student_view %}
<div>
  <div class="card">
    <div class="pgn__card-header">
      <div>
        <div>{% trans "Instructions for use" %}</div>
        <div class="collapse-container">
          <p class="title-list"><b>{% trans "With the mouse" %}</b></p>
          <ul class="list-container">
            <li>
              <span>{% trans "→ Double-click the node to edit it." %}</span>
            </li>
            <li>
              <span>{% trans "→ Drag the node to move it." %}</span>
            </li>
            <li>
              <span>{% trans "→ Click the circle to expand or collapse the child nodes." %}</span>
            </li>
          </ul>

          <p class="title-list"><b>{% trans "With the keyboard" %}</b></p>
          <ul class="list-container">
            <li>
              <span>{% trans "→ Ctrl + Enter: Create a new child node for the selected node." %}</span>
            </li>
            <li>
              <span>{% trans "→ Enter: Create a new brother node for the selected node." %}</span>
            </li>
            <li>
              <span>{% trans "→ F2: Edit the selected node." %}</span>
            </li>
            <li>
              <span>{% trans "→ Delete/Supr: Delete the selected node." %}</span>
            </li>
            <li>
              <span>{% trans "→ Space: Expand or collapse the selected node." %}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="pgn__card-header-actions">
        <span class="icon-collapsible"></span>
      </div>
    </div>
  </div>
</div>
{% endif %}

<link type="text/css" rel="stylesheet" href="https://unpkg.com/jsmind@latest/style/jsmind.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />

<div id="jsmind_container_{{xblock_id}}" class="jsmind_container"></div>

{% if not score %}
  <p>(0/{{ max_score }} {% trans "points" %}) {% trans submission_status %}</p>
{% else %}
  <p>({{ score }}/{{ max_score }} {% trans "points" %}) {% trans submission_status %}</p>
{% endif %}

{% if editable and in_student_view and can_submit_assignment %}
  <button id="save_button_{{xblock_id}}">{% trans "Save assignment" %}</button>
  <button id="submit_button_{{xblock_id}}">{% trans "Submit" %}</button>
{% endif %}

{% if is_instructor and in_student_view and not is_static  %}
    <button id="get_grade_submissions_button_{{xblock_id}}">{% trans "Grade submissions" %}</button>

    <div id="modal-submissions" class="modal-submissions" aria-hidden="true" tabindex="-1">
      <div class="modal__content">
        <h2 id="modal_title"></h2>
        <div class="modal__data"></div>
        <div class="modal__footer"></div>
        <button type="button" class="modal__close">&times;</button>
      </div>
    </div>
{% endif %}
